<!DOCTYPE html>
<html>
    <head>
        <title>StudentKitchen</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
    </head>
    <body ng-app="studentKitchen" >
        <div class="container">
            <div class="row">
                <ui-view></ui-view>
            </div>
        </div>
        <script type="text/ng-template" id="/home.html">
            <h1>Student Kitchen</h1>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-5">
                    <div class="row" ng-repeat="recipe in recipes | orderBy: '-upvotes'">
                        <div class="row" style="background:green">
                            <div class="col-xs-5" style="background:orange">
                                <h2>{{ recipe.title }}</h2>
                            </div>
                            <div class="col-xs-6" style="background:yellow">
                                <span ng-click="incrementUpvotes(recipe)">^</span>
                                - upvotes: {{recipe.upvotes}}
                                <br>
                                {{$index}}
                            </div>
                        </div>
                        Ingredients:
                        <div class="row" style="background:aqua">
                            <ul ng-repeat="ingredient in recipe.ingredients">
                                <li>{{ ingredient.element }}</li>
                            </ul>
                        </div>
                        <div class="row" style="background:#afafaf">
                            Description:
                            <br>
                            {{ recipe.description }}
                        </div>
                        <span>
                            <a href="#/recipes/{{$index}}">Comments</a>
                        </span>
                        <br>
                    </div>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-5">
                    <h2>Add your Recipe!</h2>
                    <form ng-submit="addRecipe()">
                        <button type="submit">Post Recipe!</button>
                        <br>
                        Name:
                        <br>
                        <input type="text" ng-model="title"></input>
                        <br>
                        Description:
                        <br>
                        <textarea rows="4" ng-model="description" ></textarea>
                    </form>
                    <br>
                    <ul ng-repeat="ingredient in ingredients track by $index">
                        <li>{{ingredient.element}}
                            <span ng-click="removeIngredient($index)">x</span>
                        </li>
                    </ul>
                    Ingredient:<br>
                    <input type="text" ng-model="ingredient"></input>
                    <button ng-click="addIngredient()">Add</button>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="/recipes.html">
            <div class="page-header">
                <h3>
                        {{recipe.title}}
                </h3>
            </div>
            Ingredients:
            <ul ng-repeat="ingredient in recipe.ingredients">
                <li> {{ingredient.element}} </li>
            </ul>
            <br>
            <div>
                {{recipe.description}}
            </div>
            Comments:
            <div ng-repeat="comment in recipe.comments | orderBy:'-upvotes'">
                {{comment.author}} -
                <span ng-click="incrementUpvotes(comment)">^</span>
                {{comment.upvotes}}
                <br>
                {{comment.body}}
            </div>
            <br>
            <form ng-submit="addComment()">
                <h3>Add your comment!</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </script>
    </body>
</html>
